@import '../../../css/variable.less';

.person-label {
    display: inline-flex;
    align-items: center;

    .avatar {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid rgba(@bg-color, 0.2);
        margin-right: 10px;
    }
}
