@import '../../css/variable.less';

.invite-form {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-body {
        flex: 1;
        padding: 30px 64px 0;
    }

    &-footer {
        display: flex;
        justify-content: flex-end;
        padding: 30px 26px 50px;
    }

    .ant-checkbox-wrapper {
        color: @bg-color;
    }
}

.invite-list {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
