@import '../../css/variable.less';

.page-body[class*='module-invite'] {
    .app-header {
        margin-bottom: 15px;
    }

    .app-container {
        width: calc(100% - 30px);
    }
}

.invite-form {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-body {
        flex: 1;
        padding: 30px 64px 0;
    }

    &-footer {
        display: flex;
        justify-content: flex-end;
        padding: 30px 26px 50px;
    }

    .ant-checkbox-wrapper {
        color: @bg-color;
    }

    .dynamic-delete-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        vertical-align: top;

        svg {
            width: 60%;
            height: 60%;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .ant-row {
        margin-bottom: 12px;
    }
}

.invite-list {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
